# i3 config file (v4)
# Handles keybinds to external programs

# Firefox
bindsym $mod+Shift+Return exec firefox

# Emacs Daemon Client
bindsym $mod+Ctrl+Return exec emacsclient -cn

# File Explorer
bindsym $mod+n exec nemo

# Rofi
bindsym $mod+space exec rofi -show drun
bindsym $mod+Mod1+space exec "rofi -show combi -modes combi -combi-modes 'window,drun,run'"
bindsym $mod+Shift+space exec rofi -modi "clipboard:greenclip print" -show clipboard -run-command '{cmd}'
