# i3 config file (v4)
# Handles starting programs that run alongside i3

# rofi clipboard integration
exec --no-startup-id greenclip daemon &

# polybar
# exec --no-startup-id ~/.config/polybar/launch.sh

# launch emacs daemon
# emacsclient -e "(kill-emacs)"
exec --no-startup-id emacs --daemon


# i3status-rs
# exec --no-startup-id i3status-rs

bar {
    font pango:Mononoki Nerd Font Mono, FontAwesome Awesome 6 Free 16
    position top
    status_command ~/.cargo/bin/i3status-rs ~/.config/i3status-rust/config.toml
    colors {
        separator #666666
        background #222222
        statusline #dddddd
        focused_workspace #0088CC #0088CC #ffffff
        active_workspace #333333 #333333 #ffffff
        inactive_workspace #333333 #333333 #888888
        urgent_workspace #2f343a #900000 #ffffff
    }
}
